{% extends 'socialapps/base.html' %}
{% load socialaccount %}
{% providers_media_js %}
<!doctype html>

{% load static %}

{% block content %}
<h1 class="heading_data">Go to the apps</h1>
  <div class="heading_sub_">
    <span class="heading_sub"><a href="javascript:AlertIt();" class="heading_data">facebook</a></span>
    <span class="heading_sub"><a href="javascript:AlertIt();" class="heading_data">Instagram</a></span>
  </div>
<div>
  <div>
    <span>
    <div class="fbintsa_btn">
      <div >
        <div style="background-color:#99ccff;  padding:40px;margin-right:1500px;"><b></b>
            <button style="background-color:#3B5998; padding:10px;"  id="fbintsa_btn" type="submit" onclick="location.href='{% provider_login_url 'facebook' method='oauth2' %}'">facebook-login</button>
        </div>
      </div>
    </div>
    </span>
    <span><img class='image_all' src = "{% static 'insta_fb.png' %}" height="300"> </span>
    </div>
</div>

{% endblock %}
